In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from fcmeans import FCM

In [4]:
iris=pd.read_csv('iris.csv')
iris

,Unnamed: 0,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species
0,1,5.1,3.5,1.4,0.2,setosa
1,2,4.9,3.0,1.4,0.2,setosa
2,3,4.7,3.2,1.3,0.2,setosa
3,4,4.6,3.1,1.5,0.2,setosa
4,5,5.0,3.6,1.4,0.2,setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,virginica
146,147,6.3,2.5,5.0,1.9,virginica
147,148,6.5,3.0,5.2,2.0,virginica
148,149,6.2,3.4,5.4,2.3,virginica
149,150,5.9,3.0,5.1,1.8,virginica

In [82]:
iris1=iris.drop(['Unnamed: 0'],axis=1)
iris1

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [83]:
Specie=pd.get_dummies(iris1['Species'] ,drop_first=False)
Specie

     setosa  versicolor  virginica
0         1           0          0
1         1           0          0
2         1           0          0
3         1           0          0
4         1           0          0
..      ...         ...        ...
145       0           0          1
146       0           0          1
147       0           0          1
148       0           0          1
149       0           0          1

[150 rows x 3 columns]

In [85]:
iris1=pd.concat([iris1,Specie],axis=1)
iris1

,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species,setosa,versicolor,virginica
0,5.1,3.5,1.4,0.2,setosa,1,0,0
1,4.9,3.0,1.4,0.2,setosa,1,0,0
2,4.7,3.2,1.3,0.2,setosa,1,0,0
3,4.6,3.1,1.5,0.2,setosa,1,0,0
4,5.0,3.6,1.4,0.2,setosa,1,0,0
...,...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,0,0,1
146,6.3,2.5,5.0,1.9,virginica,0,0,1
147,6.5,3.0,5.2,2.0,virginica,0,0,1
148,6.2,3.4,5.4,2.3,virginica,0,0,1
149,5.9,3.0,5.1,1.8,virginica,0,0,1

,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species,setosa,versicolor,virginica,target
0,5.1,3.5,1.4,0.2,setosa,1,0,0,Species
1,4.9,3.0,1.4,0.2,setosa,1,0,0,Species
2,4.7,3.2,1.3,0.2,setosa,1,0,0,Species
3,4.6,3.1,1.5,0.2,setosa,1,0,0,Species
4,5.0,3.6,1.4,0.2,setosa,1,0,0,Species
...,...,...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,0,0,1,
146,6.3,2.5,5.0,1.9,virginica,0,0,1,
147,6.5,3.0,5.2,2.0,virginica,0,0,1,
148,6.2,3.4,5.4,2.3,virginica,0,0,1,
149,5.9,3.0,5.1,1.8,virginica,0,0,1,

In [92]:
featured_col=['Sepal.Length','Sepal.Width','Petal.Length','Petal.Width']
y_featured=['setosa','versicolor','virginica']
x=iris1[featured_col]
y=iris1[y_featured]

In [93]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=0)

In [103]:
cluster_list=[2,3,4,5,6,7]
model=list()
for n_clusters in cluster_list:
    fcm=FCM(n_clusters=n_clusters)
    fcm.fit(x_train)
    fcm.predict

ValidationError: 1 validation error for Fit
X
       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
61            5.9          3.0           4.2          1.5
92            5.8          2.6           4.0          1.2
112           6.8          3.0           5.5          2.1
2             4.7          3.2           1.3          0.2
141           6.9          3.1           5.1          2.3
..            ...          ...           ...          ...
9             4.9          3.1           1.5          0.1
103           6.3          2.9           5.6          1.8
67            5.8          2.7           4.1          1.0
117           7.7          3.8           6.7          2.2
47            4.6          3.2           1.4          0.2

[112 rows x 4 columns] is not an instance of numpy.ndarray (type=value_error)